@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

body {
  @apply antialiased text-black bg-white dark:text-white dark:bg-zinc-950;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
